{% extends 'index.html' %}
{% block title %}Todo List - Home{% endblock title %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Status</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      {% if tasks %}
      {% for task in tasks %}
      {% if task.completed %}
      <tr class="table-success">
        <td>{{ task.title }}</td>
        <td>Completed</td>
        <td>
            <a href="{% url 'task' task.id %}" class="btn btn-primary">View</a>
            <a href="{% url 'task-update' task.id %}" class="btn btn-secondary">Edit</a>
            <a href="{% url 'task-delete' task.id %}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {% else %}
      <tr>
        <td>{{ task.title }}</td>
        <td>Not Completed</td>
        <td>
            <a href="{% url 'task' task.id %}" class="btn btn-primary">View</a>
            <a href="{% url 'task-update' task.id %}" class="btn btn-secondary">Edit</a>
            <a href="{% url 'task-delete' task.id %}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
      {% else %}
      <legend>No Tasks were added!</legend>
      {% endif %}
    </tbody>
</table>
{% endblock content %}