{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block title %}Create Task{% endblock title %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <legend>{% if task %}Update Task - {{ task.title }}{% else %}Create Task{% endif %}</legend>
    {{ form | crispy }}
    {% if task %}
    <button type="submit" class="btn btn-secondary">Update</button>
    {% else %}
    <button type="submit" class="btn btn-success">Create</button>
    {% endif %}
</form>
{% endblock content %}